{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <h1>List of Accounts</h1>

        {% for account in objects %}
        <div id="accordion" role="tablist" aria-multiselectable="true">
          {% for character in account.characters.all %}
            <div class="card">
              <div class="card-header" role="tab" id="heading{{character.name}}">
                <h5 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{character.name}}" aria-expanded="true" aria-controls="collapse{{character.name}}">
                    {{account.name}}
                  </a>
                </h5>
              </div>

              <div id="collaps{{character.name}}" class="collapse show" role="tabpanel" aria-labelledby="heading{{character.name}}">
                <div class="card-block">
                  {{character.name}}
                  {% for skilltree in character.get_skilltrees %}
                    <a href="{{skilltree.url}}">Link to Skilltree {{skilltree.level}}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% endfor %}
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
